Source: pymusepack
Section: python
Priority: optional
Maintainer: Joe Wreschnig <piman@debian.org>
Build-Depends: debhelper (>= 4.0.0), libmpcdec-dev, python-dev
Standards-Version: 3.6.1.1

Package: python-musepack
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}
Description: Musepack (MPC) decoder library [Python bindings]
 libmpcdec allows you to decode files in the Musepack audio format,
 which usually use the 'mpc' extension. MPC is a lossy compression format
 like MP3 or Ogg Vorbis. It is based on the MPEG-1 Layer-2 / MP2 algorithms,
 but has vastly improved.
 .
 This package contains Python bindings for libmpcdec, allowing programs
 written in Python to decode MPC files, and read and write APEv2
 metadata tags.
