Source: quodlibet-plugins
Section: sound
Maintainer: Joshua Kwan <joshk@triplehelix.org>
Build-Depends: debhelper (>= 4.0), python
Priority: extra
Standards-Version: 3.6.2

Package: quodlibet-plugins
Architecture: all
Depends: exfalso (>= 0.19), ${python:Depends}
Suggests: k3b, python-gnome2, python-cddb, python-musicbrainz
Description: various contributed plugins for Quod Libet
 This package contains a number of contributed plugins for the Quod
 Libet media player, each extending the player's functionality in
 different ways.
 .
 Notable plugins in this package include:
 .
  - Animated On-Screen Display
  - MusicBrainz and CDDB/FreeDB tag lookups
  - Alarm clock and lullaby, start and stop playing music at specified times
  - Export a playlist as HTML
  - Export a Jabber JEP-118 file
  - Burn CDs with K3b
  - AudioScrobbler/Last.fm submission (http://www.last.fm)
