#!/usr/bin/make -f
# debian/rules for quodlibet-plugins
# It's obscenely simple. I feel bad.

D := debian/quodlibet-plugins
U := usr/lib/quodlibet/plugins
P := $(D)/$(U)

build binary-arch install:
# Ye olde no-op.

binary: binary-indep

binary-indep:
	dh_clean -k
	dh_installdirs $(U)
	for plugin in $(filter-out $(EXCLUDE), $(wildcard *.py)); do \
		install -m 644 -o 0 -g 0 $$plugin $(P)/; \
	done
	dh_installchangelogs
	dh_installdocs
	dh_python
	dh_compress
	dh_fixperms
	dh_gencontrol
	dh_md5sums
	dh_builddeb

clean:
	dh_clean
