Source: mutagen
Section: python
Priority: optional
Maintainer: Joe Wreschnig <piman@debian.org>
Build-Depends-Indep: debhelper (>= 5.0.17), python-dev (>= 2.3)
Standards-Version: 3.6.2

Package: python-mutagen
Architecture: all
Depends: ${python:Depends}
Description: audio metadata editing library
 Mutagen is an audio metadata tag reader and writer implemented in pure
 Python. It supports reading ID3v1.1, ID3v2.2, ID3v2.3, ID3v2.4, APEv2,
 and FLAC, and writing ID3v1.1, ID3v2.4, APEv2, and FLAC.
 .
 The code is extensively tested both by automated testing and real-world
 use. The goals are compatibility with as many files as possible,
 standards-compliance, and a simple but powerful API.
