Source: pymodplug
Section: python
Priority: optional
Maintainer: Joe Wreschnig <piman@debian.org>
Build-Depends: debhelper (>= 4.0.0), libmodplug-dev, python-dev
Standards-Version: 3.6.1.1

Package: python-modplug
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}
Description: ModPlug mod-like music shared libraries [Python bindings]
 libmodplug is a library for decoding MODs and similar tracked formats.
 It features high-quality audio output including noise reduction and
 support for many MOD-like formats.
 .
 This package contains Python bindings for libFLAC, allowing programs
 written in Python to read music in MOD, XM, IT, and other formats.
