<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Application</string>
    <key>CFBundleExecutable</key>
    <string>_launcher</string>
    <key>CFBundleIconFile</key>
    <string>@APP_ID@.icns</string>
    <key>CFBundleIdentifier</key>
    <string>org.quodlibet.@APP_ID@</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>@APP_VERSION@</string>
    <key>CFBundleVersion</key>
    <string>@APP_VERSION@</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.6</string>
    <key>AppleMagnifiedMode</key>
    <false />
    <key>NSHighResolutionCapable</key>
    <string>True</string>
    <key>CFBundleSignature</key>
    <string>????</string>
</dict>
</plist>
