[Desktop Entry]
Encoding=UTF-8
Name=Quod Libet
Name[fi]=Quod Libet
GenericName=Music Player
GenericName[fi]=Musiikkisoitin
Comment=Listen to, browse, or edit your audio collection
Comment[fi]=Kuuntele, selaa tai muokkaa äänikokoelmaasi
Exec=quodlibet
Terminal=false
Type=Application
Icon=quodlibet.png
Categories=Application;AudioVideo;AudioPlayer;GTK
