[Desktop Entry]
Encoding=UTF-8
Name=Ex Falso
GenericName=Audio tag editor
Comment=Edit tags in your audio files
Exec=exfalso
Terminal=false
Type=Application
Icon=exfalso.png
Categories=Application;AudioVideo;GTK
