[Desktop Entry]
Encoding=UTF-8
Name=Ex Falso
Name[ru]=Ex Falso
GenericName=Audio tag editor
GenericName[ru]=Программа-редактор аудио-тегов
Comment=Edit tags in your audio files
Comment[ru]=Программа для редактирования тегов аудио-файлов
Exec=exfalso
Terminal=false
Type=Application
Icon=exfalso.png
Categories=Application;AudioVideo;GTK
