include COPYING
include HACKING
include NEWS
include README
include po/*.po
include po/POTFILES.in
include po/POTFILES.skip
recursive-include quodlibet/images/hicolor/ *.svg *.png
include tests/data/*
recursive-include tests *.py
include gdist/*.py
include data/*.desktop.in
include data/*.ini
include data/*.svg.in
include data/*.service.in
include data/*.appdata.xml.in
include data/*.1
include data/*.sh
include data/README.rst
include MANIFEST.in
recursive-include docs *.py Makefile *.rst *.png *.ico *.svg
prune docs/_build_guide
prune docs/_build_all
prune docs/_rtd_theme*
