include COPYING
include HACKING
include NEWS
include README
include po/*.po
include po/POTFILES.in
include po/POTFILES.skip
include man/*
include quodlibet/images/README
recursive-include quodlibet/images/hicolor/ *.cache *.theme *.svg *.png
include tests/data/*
recursive-include tests *.py
include gdist/*.py
include data/*.desktop.in
include data/*.ini
include data/*.service.in
include MANIFEST.in
recursive-include docs conf.py Makefile *.rst *.png
