include COPYING
include HACKING
include NEWS
include README
include po/*.po
include po/POTFILES.in
include po/POTFILES.skip
include man/*.1
include quodlibet/images/*.png
include quodlibet/images/*.svg
recursive-include quodlibet/images/hicolor/ *.cache *.theme *.svg *.png
include tests/data/*
include tests/*.py
include gdist/*.py
include *.desktop.in
recursive-include gobject_ext/ *.defs *.override *.[ch]
