[Desktop Entry]
Encoding=UTF-8
Name=Quod Libet
GenericName=Music Player
Comment=Listen to or browse your music library
Exec=quodlibet
Terminal=false
Type=Application
Icon=quodlibet
Categories=Application;Multimedia;
