Source: quodlibet
Section: sound
Priority: optional
Maintainer: Joe Wreschnig <piman@debian.org>
Build-Depends: debhelper (>= 4.2.21), python-dev, python-gtk2-dev (>= 2.4.1), pkg-config, libgtk2.0-dev
Standards-Version: 3.6.1.1

Package: quodlibet
Architecture: all
Depends: ${python:Depends}, python-pymad, python-pyvorbis, python-id3lib, python-glade2, quodlibet-ext (= ${Source-Version}), libgtk2.0-0 (>= 2.6.0-1)
Recommends: python-pyao
Suggests: python-modplug, python-flac, python-musepack, albumart, vorbisgain (>= 0.35-2)
Description: audio library manager and player for GTK+
 Quod Libet is an audio player where playlists can be constructed by
 searching your library using a powerful regular-expression-based
 search language (simpler searches are also supported). It also
 supports editing tags in your library, including mass-editing.
 .
 Other features include multimedia keys, Unicode support, a tray icon,
 album covers, ReplayGain, and an On-Screen Display.
 .
 Supported formats include MP3, Ogg Vorbis, FLAC, Musepack (MPC), and
 MOD/XM/IT (with appropriate extensions installed). Full tag vocabularies
 are supported for appropriate formats.
 .
 Quod Libet is written in Python and uses PyGTK+.

Package: quodlibet-ext
Architecture: any
Depends: ${shlibs:Depends}
Recommends: quodlibet
Description: extensions for the Quod Libet audio player
 This package contains architecture-dependent extensions to Quod
 Libet.
 .
 Quod Libet is an audio player for GTK+.
