Source: quodlibet
Section: sound
Priority: optional
Maintainer: Joe Wreschnig <piman@debian.org>
Build-Depends: debhelper (>= 4.2.21), python-dev, python-gtk2-dev (>= 2.6), pkg-config, libgtk2.0-dev
Standards-Version: 3.6.1.1

Package: quodlibet
Architecture: all
Depends: ${python:Depends}, python-gtk2 (>= 2.6), python-pymad, python-pyvorbis, python-id3lib, libgtk2.0-0 (>= 2.6.0-1)
Recommends: python-pyao, ttf-freefont, quodlibet-ext (= ${Source-Version})
Suggests: python-modplug, python-flac, python-musepack, albumart, vorbisgain (>= 0.35-2)
Description: audio library manager and player for GTK+
 Quod Libet is a music library management program. Rather than categorize
 songs by genre, artist, and album, it lets you search and display them
 however you want. It supports regexp-based searches, album cover display,
 tag editing, ReplayGain, multimedia keys, and an OSD.
 .
 Also included is Ex Falso, a tag editor that has the same editing features
 found in Quod Libet, but does not play audio files.
 .
 Supported formats include MP3, Ogg Vorbis, FLAC, Musepack (MPC), and
 MOD/XM/IT (with appropriate extensions installed).
 .
 Quod Libet and Ex Falso are written in Python and use PyGTK+.

Package: quodlibet-ext
Architecture: any
Depends: ${shlibs:Depends}, quodlibet (= ${Source-Version})
Description: extensions for the Quod Libet audio player
 This package contains architecture-dependent extensions to Quod
 Libet. It adds a notification area icon and multimedia key support
 to Quod Libet.
 .
 Quod Libet is an audio player for GTK+.
