Source: libmusepack
Priority: optional
Maintainer: Joe Wreschnig <piman@debian.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.1

Package: libmusepack-dev
Section: libdevel
Architecture: any
Depends: libmusepack3 (= ${Source-Version})
Description: Musepack (MPC) format library [development files]
 This package contains files used to develop or compile programs that
 use libmusepack.
 .
 libmusepack allows you to decode files in the Musepack audio format,
 which usually use the 'mpc' extension. MPC is a lossy compression format
 like MP3 or Ogg Vorbis. It is based on the MPEG-1 Layer-2 / MP2 algorithms,
 but has vastly improved.

Package: libmusepack3
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Musepack (MPC) format library
 libmusepack allows you to decode files in the Musepack audio format,
 which usually use the 'mpc' extension. MPC is a lossy compression format
 like MP3 or Ogg Vorbis. It is based on the MPEG-1 Layer-2 / MP2 algorithms,
 but has vastly improved.
