name: "test-nix"
on:
  push:
  pull_request:
    branches:
      - main

jobs:
  test-nix-shell:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v22
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
      - run: nix develop --command poetry --version
      - run: nix flake check --keep-going
